@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$primary-color: #101820;
$secondary-font: "Poppins", sans-serif;
$font-primary-color: #d6d1cd;
$font-secondary-color: #71717a;

body {
  font-family: "Poppins", sans-serif;
  color: $primary-color;
}

p {
  color: $font-secondary-color;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-brand {
  .cls-1 {
    fill: #d6d1cd;
  }
  svg {
    width: 160px;
  }
}

.navbar-nav {
  li {
    @media (min-width: 991px) {
      margin-left: 20px;
    }
  }
}

.header {
  width: 100%;
  padding: 10px 0;
  background-color: $primary-color;
  // position: fixed;
  // top: 0;
  z-index: 1;
}

.cls-1 {
  fill: #d6d1cd;
}

.hero {
  font-family: $secondary-font;
  background: $primary-color;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -76px;
  z-index: -1;

  h1 {
    text-transform: uppercase;
    font-size: 120px;
    line-height: 1;
    font-weight: 700;
    color: $font-primary-color;
    margin-left: -6px;
  }

  p {
    margin: 0px;
    color: $font-primary-color;
  }

  @media screen and (max-width: 768px) {
    height: 520px;
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 200px;
      }
    }
  }
}

.classic__link {
  text-decoration: none;
  color: $font-secondary-color;
  font-weight: 500;
  display: block;
  svg {
    transition: all ease 0.3s;
  }
  &:hover {
    color: #212121;

    svg {
      margin-left: 5px;
    }
  }
}

.presentation {
  background-color: #f7f7f7;
  // color: #fff;
  padding: 100px 0;

  h1 {
    font-size: 50px;
    letter-spacing: -1px;
    font-weight: 700;
  }

  p {
    margin: 0;
    border-bottom: 1px solid #303030;
    padding: 10px 0;
    margin-bottom: 40px;
    font-weight: 700;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 18px;
      transition: all ease 0.3s;
      font-size: 14px;

      a {
        color: #212121;
        text-decoration: none;
        font-weight: 500;
      }

      &:hover {
        margin-left: 6px;

        a {
          color: $primary-color;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
    h1 {
      font-size: 26px;
      margin-bottom: 50px;
    }
  }
}

.about {
  p {
    margin-top: 10px;
    line-height: 1.8;
    @media screen and (min-width: 768px) {
      padding-right: 40px;
    }
  }

  h3 {
    font-size: 34px;
    margin-bottom: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.about__img {
  margin-top: -250px;
  // z-index: 99;
  position: relative;
}

.instafeed {
  background-color: #fafafa;
  padding: 100px 0;
}

footer {
  background-color: $primary-color;
  color: $font-secondary-color;
  padding: 120px 0;

  p {
    margin-bottom: 0px;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;

    li {
      list-style: none;
      transition: all ease 0.3s;
      display: inline;
      padding: 0 20px;

      a {
        color: $font-secondary-color;
        text-decoration: none;
        font-weight: 400;
        transition: all ease 0.3s;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.bio-page-scafeli {
  background: #212121;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .logo-header {
    max-width: 200px;
  }

  .bio {
    p {
      color: #777;
      margin-bottom: 40px;
      margin-top: 10px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      background: #fff;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 5px;

      a {
        width: 100%;
        display: inline-block;
        color: #212121;
        padding: 15px;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

.projects__section {
  padding: 100px 0;

  h1 {
    margin-bottom: 20px;
  }
}

.desc-projects {
  max-width: 600px;
  margin-bottom: 30px;
}

.projects {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  .project__item {
    // border-radius: 16px;
    background-color: #212121;
    height: 600px;
    min-width: calc(33% - 22.5px);
    // transition: all ease 0.3s;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .pj__content {
      position: absolute;

      bottom: 0px;
      left: 0px;
      padding: 60px 30px 30px;
      margin: 0;
      color: #fff;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      width: 100%;
    }

    // &:hover {
    //   transform: translateY(-8px) !important;
    // }

    &.zapily {
      background: url("/zapily123.png");
      background-size: cover;
      background-position: center;
    }

    &.cfb7 {
      background: url("/cfb7.png");
      background-size: cover;
      background-position: center;
    }

    &.befit {
      background: url("/befit.png");
      background-size: cover;
      background-position: center;
    }

    &.adidas {
      background: url("/adidas.png");
      background-size: cover;
      background-position: center;
    }

    &.anonimatta {
      background: url("https://i.pinimg.com/originals/22/a0/21/22a021bc8fe78cdd29aba0167054d63e.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .project__item {
      height: 300px;
      min-width: 100%;
      margin-bottom: 40px;
    }
  }
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;

  ul {
    padding: 0;
    li {
      padding: 0;
      list-style: none;
      margin-bottom: 10px;
    }
  }

  p {
    padding-right: 0;
  }
}

.links {
  display: block;
  margin-top: 30px;

  a {
    margin-bottom: 10px;
  }
}

.header__projects {
  background-color: #000;
  color: #fff;
  height: 420px;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  align-items: center;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
  }
}

.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
  .modal-content {
    border: none;
    border-radius: 20px;
  }
}
