@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: all ease 0.5s;

  &.scrolled {
    background-color: #fff;
  }
}

.hero {
  background: url(https://images.unsplash.com/photo-1616837662891-c62d5fe6418e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff !important;

  .lead {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 14px;
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
  }

  h3 {
    font-size: 40px;
    font-weight: 400;
  }
  @media screen and (max-width: 768px) {
    height: 520px;
  }
}

.presentation {
  background-color: #000;
  color: #fff;
  padding: 100px 0;

  p {
    margin: 0;
    border-bottom: 1px solid #303030;
    padding: 10px 0;
    margin-bottom: 40px;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 22px;
      transition: all ease 0.3s;
      text-transform: uppercase;
      font-size: 14px;
      &:hover {
        margin-left: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.about {
  padding: 50px 0;
  p {
    font-weight: 400;
    text-transform: uppercase;
    color: #777;
  }

  h3 {
    font-size: 34px;
    margin-bottom: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

footer {
  background-color: #000;
  color: #fff;
  padding: 60px 0 45px;

  p {
    margin-bottom: 0px;
  }
}

.bio-page-scafeli {
  background: #212121;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .logo-header {
    max-width: 200px;
  }

  .bio {
    p {
      color: #777;
      margin-bottom: 40px;
      margin-top: 10px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      background: #fff;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 5px;

      a {
        width: 100%;
        display: inline-block;
        color: #212121;
        padding: 15px;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

.projects {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  .project__item {
    // border-radius: 16px;
    background-color: #212121;
    height: 400px;
    min-width: calc(50% - 22.5px);
    transition: all ease 0.3s;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;

    p {
      position: absolute;
      bottom: 10px;
      left: 30px;
      color: #fff;
    }

    &:hover {
      transform: translateY(-8px) !important;
    }

    &.zapily {
      background: url("/zapily123.png");
      background-size: cover;
      background-position: center;
    }

    &.cfb7 {
      background: url("/cfb7.png");
      background-size: cover;
      background-position: center;
    }

    &.befit {
      background: url("/befit.png");
      background-size: cover;
      background-position: center;
    }

    &.adidas {
      background: url("/adidas.png");
      background-size: cover;
      background-position: center;
    }

    &.anonimatta {
      background: url("/anonimatta.png");
      background-size: cover;
      background-position: center;
    }
  }
}

.header__projects {
  background-color: #000;
  color: #fff;
  height: 420px;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  align-items: center;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
  }
}

.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
  .modal-content {
    border: none;
    border-radius: 20px;
  }
}
