.hero-home {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;

  // background: #131517;

  .container {
    margin-top: -130px;
  }
  .pre-title {
    color: #333;
    background: #14f194;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
  }

  h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;
    border-left: 4px solid #9147ff;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  form {
    // background: linear-gradient(270deg, #28cdcf 0%, #a873e8 70%);
    background: #fff;
    padding: 50px 30px;
    border-radius: 6px;
    input {
      padding: 12px;
      margin-bottom: 16px;
    }

    .form-control {
      border: 1px solid #e9ecef;
    }

    button {
      width: 100%;
      height: 50px;
      background-color: #9147ff;
      color: #fff;
      border: none;

      &:hover {
        background-color: #7631dd;
      }
    }

    .info-form {
      display: flex;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      color: #868e96;
      font-size: 12px;
      margin-top: 20px;

      svg {
        margin-right: 10px;
      }
    }
  }
}
